<div class="wrapInner clearFix mainContent">
    <div class="col1">
      <app-form></app-form>
      <p>Pinned</p>
      <div class="box">
        <button mat-button matTooltip="Pin it" class="btnPin"><i class="ion-pin"></i></button>
        <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, commodi suscipit ullam harum consequatur inventore? Labore, temporibus doloribus nostrum officia nobis molestias maiores rem deserunt, possimus libero dolore consequuntur tenetur. </p>
        <div class="options">
          <button mat-button matTooltip="Edit notes" class="btnEdit" (click)="openDialogEdit()"><i class="material-icons">mode_edit</i></button>
          <button mat-button matTooltip="Delete notes" class="btnDelete" (click)="openDialogDelete()"><i class="material-icons">delete</i></button>
        </div>
      </div>
    </div>
    <div class="col2">
        <p class="pinned">Pinned</p>
        <div class="box">
          <button mat-button matTooltip="Pin it" class="btnPin"><i class="ion-pin"></i></button>
          <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, commodi suscipit ullam harum consequatur inventore? Labore, temporibus doloribus nostrum officia nobis molestias maiores rem deserunt, possimus libero dolore consequuntur tenetur. </p>
          <div class="options">
            <button mat-button matTooltip="Edit notes" class="btnEdit" (click)="openDialogEdit()"><i class="material-icons">mode_edit</i></button>
            <button mat-button matTooltip="Delete notes" class="btnDelete" (click)="openDialogDelete()"><i class="material-icons">delete</i></button>
          </div>
        </div>

        <div class="box">
          <button mat-button matTooltip="Pin it" class="btnPin"><i class="ion-pin"></i></button>
          <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, commodi suscipit ullam harum consequatur inventore? Labore, temporibus doloribus nostrum officia nobis molestias maiores rem deserunt, possimus libero dolore consequuntur tenetur. </p>
          <div class="options">
            <button mat-button matTooltip="Edit notes" class="btnEdit" (click)="openDialogEdit()"><i class="material-icons">mode_edit</i></button>
            <button mat-button matTooltip="Delete notes" class="btnDelete" (click)="openDialogDelete()"><i class="material-icons">delete</i></button>
          </div>
        </div>

        <div class="box">
          <button mat-button matTooltip="Pin it" class="btnPin"><i class="ion-pin"></i></button>
          <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, commodi suscipit ullam harum consequatur inventore? Labore, temporibus doloribus nostrum officia nobis molestias maiores rem deserunt, possimus libero dolore consequuntur tenetur. </p>
          <div class="options">
            <button mat-button matTooltip="Edit notes" class="btnEdit" (click)="openDialogEdit()"><i class="material-icons">mode_edit</i></button>
            <button mat-button matTooltip="Delete notes" class="btnDelete" (click)="openDialogDelete()"><i class="material-icons">delete</i></button>
          </div>
        </div>

        <div class="box">
          <button mat-button matTooltip="Pin it" class="btnPin"><i class="ion-pin"></i></button>
          <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, commodi suscipit ullam harum consequatur inventore? Labore, temporibus doloribus nostrum officia nobis molestias maiores rem deserunt, possimus libero dolore consequuntur tenetur. </p>
          <div class="options">
            <button mat-button matTooltip="Edit notes" class="btnEdit" (click)="openDialogEdit()"><i class="material-icons">mode_edit</i></button>
            <button mat-button matTooltip="Delete notes" class="btnDelete" (click)="openDialogDelete()"><i class="material-icons">delete</i></button>
          </div>
        </div>

        <div class="box">
          <button mat-button matTooltip="Pin it" class="btnPin"><i class="ion-pin"></i></button>
          <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, commodi suscipit ullam harum consequatur inventore? Labore, temporibus doloribus nostrum officia nobis molestias maiores rem deserunt, possimus libero dolore consequuntur tenetur. </p>
          <div class="options">
            <button mat-button matTooltip="Edit notes" class="btnEdit" (click)="openDialogEdit()"><i class="material-icons">mode_edit</i></button>
            <button mat-button matTooltip="Delete notes" class="btnDelete" (click)="openDialogDelete()"><i class="material-icons">delete</i></button>
          </div>
        </div>
    </div>
</div>