<div class="formRegister">
    <mat-card>
      <form (submit)="register()">
        <h1><img src="/assets/images/angular.png"><span>Task</span></h1>
        <mat-form-field class="fullWidth">
          <input matInput placeholder="Name" [formControl]="nameFormControl" [(ngModel)]="userName" name="userName">
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fullWidth">
          <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="userEmail" name="userEmail">
          <mat-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="fullWidth">
          <input matInput placeholder="Password" [formControl]="passFormControl" [(ngModel)]="userPass" name="userPass" type="password">
            <mat-error *ngIf="passFormControl.hasError('required')">
              Password <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div class="button-row tRight">
          <button mat-raised-button color="primary">Register</button>
        </div>
      </form>
      <div class="accountSignUp">
        <p>Already have an account? <a routerLink="/">Login</a></p>
      </div>
    </mat-card>
  </div>
  