<mat-toolbar color="primary">
    <h1><a routerLink="/home"><i class="material-icons md-24">event_note</i><span>NG Keep</span></a></h1>
    <nav class="mainNav">
      <ul>
        <li routerLinkActive="active"><button mat-button routerLink="/home">Notes</button></li>
        <!-- <li routerLinkActive="active"><button mat-button routerLink="/reminders">Reminders</button></li> -->
      </ul>
    </nav>
    <nav class="rightNav">
      <ul>
        <li><button mat-button matTooltip="Refresh"><i class="material-icons md-24">refresh</i></button></li>
        <li><button mat-button matTooltip="Notification"><i class="material-icons md-24">notifications_active</i></button></li>
        <!-- <li><button mat-button><i class="material-icons md-24">account_circle</i></button></li> -->
        <li><button mat-button matTooltip="Profile"><img src="https://lh3.googleusercontent.com/-ZL_pVfQMDCs/AAAAAAAAAAI/AAAAAAAAAAA/ANQ0kf5Sp00kw_JyMk2rAP_YfjXd-wzzNg/s32-c-mo/photo.jpg" alt=""></button></li>
      </ul>
    </nav>
  </mat-toolbar>