<router-outlet></router-outlet>
<!-- <md-toolbar color="primary">
  <button md-button (click)="sideToggle()"><md-icon>menu</md-icon></button>
  <span class="app-toolbar-filler"></span>
  <h1>Angular Todo</h1>
</md-toolbar>


<md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav" mode="side" [opened]="sideNavStatus">
      <ul>
        <li><a href="#">Notes</a></li>
        <li><a href="#">Reminder</a></li>
      </ul>
    </md-sidenav>
    <button type="button" md-button (click)="sideToggle()"></button>
    <div class="example-sidenav-content">
      <button type="button" md-button (click)="sideToggle()"></button>
    </div>
  
  </md-sidenav-container> -->